html,
body,
.dialog-off-canvas-main-canvas {
  height: 100%;
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#wrapper .center {
  width: 1200px;
  margin: auto;
}
#wrapper.page-404 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  background: #dedede;
}
#wrapper.page-404 main #block-javali-theme-intranet-content .card-content {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#wrapper.page-404 main {
  border-radius: 12px;
  background-color: #ffffff;
  color: #151517;
  overflow: hidden;
}
#wrapper.page-404 main #main-content {
  display: flex;
}
#wrapper.page-404 main #main-content #page-content {
  padding: 90px;
  width: calc(40% - 180px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
#wrapper.page-404 main #main-content #page-content .logo img {
  max-height: 120px;
  max-width: 250px;
  margin-bottom: 30px;
}
#wrapper.page-404 main #main-content #page-content .info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#wrapper.page-404 main #main-content .block-system-main-block {
  background: transparent;
  border: 0 none;
  box-shadow: none;
  margin: 0 0;
  padding: 15px 0;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 45px;
  text-transform: uppercase;
}
#wrapper.page-404 main #main-content span.message {
  margin-bottom: 30px;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}
#wrapper.page-404 h1.page-title {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 55px;
  text-align: center;
  margin-top: 15px;
}
#wrapper.page-404 main #page-content {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 23px;
}
#wrapper.page-404 main #page-content span.error {
  display: block;
  color: #3a4149;
  font-size: 140px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 100px;
  text-align: center;
}
#wrapper.page-404 a.back-to-home:link,
#wrapper.page-404 a.back-to-home:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 20px;
  border: 3px solid #3a4149;
  border-radius: 8px;
  background-color: #ffffff;
  color: #3a4149;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
}
#wrapper.page-404 a.back-to-home:hover {
  background-color: #3a4149;
  color: #ffffff;
}
#wrapper.page-404 #error-image {
  padding: 90px 90px 0;
  width: calc(60% - 180px);
  background: #f5f5f5;
  border-radius: 0 12px 12px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-transform: skewX(-11deg);
  -ms-transform: skewX(-11deg);
  transform: skewX(-11deg);
}
#wrapper.page-404 #error-image-inner {
  -webkit-transform: skewX(11deg);
  -ms-transform: skewX(11deg);
  transform: skewX(11deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrapper.page-404 #error-image:before {
  display: block;
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #f5f5f5;
  -webkit-transform: skewX(11deg);
  -ms-transform: skewX(11deg);
  transform: skewX(11deg);
  top: 0;
  left: 50%;
}
#wrapper.page-404 #error-image .error-code {
  color: #151517;
  font-size: 179px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 180px;
  text-align: center;
}
#wrapper.page-404 #error-image .error {
  color: #151517;
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}
#wrapper.page-404 #error-image .image img {
  max-width: 540px;
  margin-top: -50px;
}
#wrapper.page-404.page-403 #error-image .image img {
  margin-top: -30px;
  margin-bottom: 50px;
}
#wrapper.page-404.maintenance #error-image .image img {
  max-width: 600px;
}
#wrapper.page-404 #block-javali-theme-page-title {
  display: none;
}

@media all and (max-width: 1199px) {
  #wrapper .center {
    width: 94%;
  }
  #wrapper.page-404 main #main-content {
    flex-direction: column;
  }
  #wrapper.page-404 main #main-content #page-content,
  #wrapper.page-404 #error-image {
    width: 96%;
    padding: 2%;
    justify-content: center;
    align-items: center;
  }
  #wrapper.page-404 main #main-content #page-content {
    position: relative;
    z-index: 1;
  }
  #wrapper.page-404 main #main-content #page-content .info {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #wrapper.page-404 #error-image .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #wrapper.page-404 #error-image .image img,
  #wrapper.page-404.maintenance #error-image .image img {
    max-width: 90%;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  #wrapper.page-404 #error-image {
    -webkit-transform: skewY(-11deg);
    -ms-transform: skewY(-11deg);
    transform: skewY(-11deg);
    border-radius: 0 0px 12px 12px;
  }
  #wrapper.page-404 #error-image-inner {
    -webkit-transform: skewY(11deg);
    -ms-transform: skewY(11deg);
    transform: skewY(11deg);
  }
  #wrapper.page-404 #error-image:before {
    top: 50%;
    left: 0;
  }
  #wrapper.page-404 {
    height: auto;
  }
}
@media all and (max-width: 799px) {
  #wrapper.page-404 #error-image .error-code {
    font-size: 100px;
    line-height: 120px;
  }
}
