<div id="wrapper" class="page-404 maintenance">
  <main role="main" class="center">
    <div id="main-content">
      <div id="page-content">
        <div class="logo">
          {% if logo %}
            <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
              <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
            </a>
          {% endif %}
        </div>
        <div class="info">
          {{ page.content }}
          <span class="message"></span>
        </div>
      </div>
      <div id="error-image">
        <div id="error-image-inner">
          <div class="image"><img src="{{ maintenance }}" alt="maintenance"/></div>
        </div>
      </div>
    </div>
  </main>
</div>
