<div id="wrapper" class="page-404 page-403">
  <main role="main" class="center">
    <div id="main-content">
      <div id="page-content">
        <div class="logo">
          {% if logo %}
              <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
                  <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
              </a>
          {% endif %}
        </div>
        <div class="info">
          {{ page.content }}
          <span class="message">{{ 'We apologize for the inconvenience.'|t }}</span>
          <a class="back-to-home" href="{{  path('<front>') }}">{{ 'Go to the homepage'|t }}</a>
        </div>
      </div>
      <div id="error-image">
        <div id="error-image-inner">
          <span class="error-code">403</span>
          <span class="error">{{ 'Forbidden'|t }}</span>
          <div class="image"><img src="{{ image_403 }}" alt="403"/></div>
        </div>
      </div>
    </div>
  </main>
</div>
